@charset 'UTF-8';
@import url("font-awesome.min.css");

h1 {
	font-family: Avenir;
	font-weight: 200;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

	h1:hover {
		color: #f09c40;
		-moz-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-out;
	}

p {
	font-family: Avenir;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 0.2em;
	text-align: center;
}

img {
	text-align: center;
	float: center;
	margin-left: 48%;
	margin-bottom: 1em;
}

/*********************************************************************************/
/* Forms                                                                         */
/*********************************************************************************/
	
	#form {
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
	}

		#form p {
			text-align: center;
			margin-bottom: 3em;
		}

		#form .button {
			border: solid 0.2em #cdcdcd;
			background-color: white;
			color: #000;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			font-size: 10px;
			font-family: 'Avenir';
			text-transform: uppercase;
			letter-spacing: 0.3em;
			padding: 1.8em 2.5em 1.8em 2.5em;

			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-out;
		}

			#form .button:hover {
				background-color: #f09c40;
				border: solid 0.2em #f09c40;
				opacity: 1.0;
				color: #fff;
			}

	form {
	}
	
		form input[type="number"],
		form input[type="email"],
		form textarea
		{
			text-align: center;
			display: inline-block;
			background: #fff;
			border: solid 0.2em #cdcdcd;
			width: 34em;
			line-height: 1.5em;
			padding: 1em 1em 1em 1em;
			font-family: 'Avenir';
			font-size: 0.8em;
			letter-spacing: 0.1em;
			margin-bottom: 2em;
		}

			form textarea {
				min-height: 12em;
				width: 34em;
				margin-bottom: 3em;
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon {
		position: relative;
		color: #000000;
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/*********************************************************************************/
/* Footer                                                                      	*/
/*********************************************************************************/

	#footer {
		text-align: center;
		text-decoration: none;
		font-family: Avenir;
		color: #000;
		margin-bottom: 1em;
	}

		#footer .icons a {
			-moz-transition: opacity 0.2s ease-in-out;
			-webkit-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			opacity: 1.0;
			text-align: center;
		}

		#footer .copyright p {
			font-size: 12px;
		}

/*********************************************************************************/
/* Script                                                                      	 */
/*********************************************************************************/

	#script {
		font-family: Avenir;
		font-weight: 100;
		font-size: 15px;
		letter-spacing: 0.2em;
		text-align: center;
	}

	#gallery {
		text-align: center;
		text-decoration: none;
		float: center;
	}